.git
.github
.idea
.vscode
target
.m2
node_modules
assets
*.log
*.tmp
README.md
about.html
about-ja.html
booking.html
booking-ja.html
booking.css
booking.js
check_in.html
confirmation.html
confirmation-ja.html
index.html
index-ja.html
nav.js
styles.css
